<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <%- include('layout/head'); %>
</head>
<body class="bg-1 d-flex flex-column min-vh-100" style="margin: 0px auto">
<div>
    <%- include('layout/navbar'); %>

    <h1 class="header-1 mt-3">Contact us!</h1>

    <form class="form-container">
        <textarea placeholder="Description" class="text-input" rows="10" cols="45"></textarea>
        <input type="submit" class="text-input-btn btn-purple" value="Submit">
    </form>
</div>

<%- include('layout/footer'); %>

</body>
</html>