<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <%- include('layout/head'); %>
</head>
<body class="bg-1 d-flex flex-column min-vh-100" style="margin: 0px auto">
<div>
    <%- include('layout/navbar'); %>

    <div class="profile-image-container">
        <div class="profile-wallpaper-container border border-0">
            <img class="profile-wallpaper" src="/img/bg-3.jpg">
        </div>
        <div class="profile-photo-container">
            <img src="/img/default-profile.png" class="profile-photo border border-5 border-dark rounded-circle not-draggable" >
        </div>
    </div>
    <div class="profile-user-information">
        <h1 class="profile-username">
            <%= data %>
        </h1>

    </div>
    <h4 class="profile-user-information text-danger">
    </h4>
    <div class="text-center">
        <a class="btn btn-purple" href="/logout">
            Logout
        </a>
    </div>

</div>

<%- include('layout/footer'); %>
</body>
</html>


