<footer class="footer mt-auto bg-black">
    <div class="container d-flex justify-content-center p-2">
        <div class="pt-2">
            <!-- Github -->
            <a class="btn rounded border-danger text-danger" href="https://github.com/peacemaker4" role="button">
                <i class="fa-brands fa-github"></i>
            </a>
            <!-- Google -->
            <a class="btn rounded border-danger text-danger" href="" role="button">
                <i class="fa-brands fa-google"></i>
            </a>
            <!-- Twitter -->
            <a class="btn rounded border-danger text-danger" href="" role="button">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <!-- Telegram -->
            <a class="btn rounded border-danger text-danger" href="https://t.me/bekkunz" role="button">
                <i class="fa-brands fa-telegram"></i>
            </a>
        </div>
    </div>
    <div class="text-center p-3 text-main">
        © 2022 Made by Bek  <i class="fa-solid fa-fire"></i>
    </div>
</footer>